@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Lobster&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply overflow-x-hidden scroll-smooth;
}

body {
  @apply bg-green-950 text-white font-Jost tracking-wider;
}
/* header */
.nav-link {
  @apply text-lg font-bold duration-300;
}
.nav-link:hover {
  @apply text-yellow-500;
}
/* hero */
section {
  @apply py-20 md:py-28;
}
h1 {
  @apply text-3xl md:text-4xl xl:text-5xl font-bold;
}
h2 {
  @apply text-2xl md:text-3xl xl:text-4xl;
}
h3 {
  @apply text-xl md:text-2xl xl:text-3xl;
}
.btn {
  @apply border border-yellow-500 bg-yellow-500 rounded-md px-5 py-2 duration-300;
}
.btn span {
  @apply font-bold;
}
.btn:hover {
  @apply opacity-90;
}
.btn_outline {
  @apply bg-transparent;
}
.btn_outline:hover {
  @apply bg-yellow-500;
}
/* services */
/* about */
.title {
  @apply font-Lobster text-yellow-500;
}
.popular_card:hover img {
  @apply -top-8;
}

/* custom css for swiper slider */
/* Custom styles for pagination bullets */
.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #ccc; /* Change bullet color */
  opacity: 0.5;
  transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
  background-color: #00ff7f; /* Change active bullet color */
  opacity: 1;
}

/* Custom styles for next/prev navigation buttons */
.swiper-button-next,
.swiper-button-prev {
  color: #00ff7f; /* Change button color */
  background-color: rgba(0, 0, 0, 0.5); /* Add background */
  padding: 30px; /* Adjust padding */
  border-radius: 50%; /* Make buttons circular */
}

/* Add hover effect for navigation buttons */
.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: #00ff7f; /* Change background on hover */
  color: #fff; /* Change text color on hover */
}
